<app-navbar />
<div class="mx-auto p-4">
  <div class="flex items-center justify-between mb-4">
    <button
      class="btn btn-xs btn-secondary mx-3"
      [disabled]="currentPath.length <= 1"
      (click)="goBack()"
    >
      <svg
        class="w-[18px] h-[18px]"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        fill="none"
        viewBox="0 0 24 24"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="m15 19-7-7 7-7"
        />
      </svg>
    </button>
    <div class="breadcrumbs text-sm text-gray-900/70">
      <ul>
        @for (path of paths; track $index) {
        <li>
          <span class="bg-slate-200 rounded-md flex gap-2 px-2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              class="h-4 w-4 stroke-current"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M3 7v10a2 2 0 002 2h14a2 2 0 002-2V9a2 2 0 00-2-2h-6l-2-2H5a2 2 0 00-2 2z"
              ></path>
            </svg>
            {{ path }}
          </span>
        </li>
        }
      </ul>
    </div>
    <div class="dropdown dropdown-end">
      <div tabindex="0" role="button" class="btn btn-primary btn-sm m-1">
        <svg
          class="w-[18px] h-[18px]"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          fill="none"
          viewBox="0 0 24 24"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M5 12h14m-7 7V5"
          />
        </svg>
        <span class="hidden md:flex">Nuevo</span>
        <svg
          class="w-6 h-6 opacity-60 hover:opacity-100 transition hidden md:flex"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          fill="none"
          viewBox="0 0 24 24"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="m19 9-7 7-7-7"
          />
        </svg>
      </div>
      <ul
        tabindex="0"
        class="dropdown-content menu bg-base-100 rounded-box z-[1] w-52 p-2 shadow"
      >
        <li (click)="createQuestionDialog()">
          <div class="flex">
            <app-icon class="text-xs" [icon]="'note_add'" />Crear Pregunta
          </div>
        </li>
        <li (click)="openDialog()">
          <div class="flex">
            <app-icon class="text-xs" [icon]="'create_new_folder'" />Crear
            Carpeta
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div class="flex">
    <div
      [ngClass]="{
        'hidden lg:block': showCurrentExam,
        'w-[0%] lg:w-[70%]': showCurrentExam,
        'w-[100%]': !showCurrentExam
      }"
      class="px-1"
    >
      @if(!isLoading){
      <div
        class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4"
        [ngClass]="{
          'xl:grid-cols-4': !showCurrentExam,
          'xl:grid-cols-3': showCurrentExam
        }"
      >
        @for ( folder of documents; track $index) { @if (folder.type
        ===objectType.FOLDER ) {

        <div
          class="card bg-slate-200 shadow-xl cursor-pointer hover:bg-slate-300 hover:shadow-2xl transition"
          (click)="navigateToFolder(folder)"
        >
          <div class="card-body">
            <div class="my-2">
              <h2 class="break-words card-title">
                {{ folder.name }}
              </h2>
              <button
                class="btn btn-circle btn-ghost"
                (click)="$event.stopPropagation()"
              >
                <app-icon
                  class="text-slate-400 hover:text-slate-600"
                  [icon]="'create'"
                />
              </button>
              <button
                class="btn btn-circle btn-ghost"
                (click)="$event.stopPropagation(); deleteDocument(folder)"
              >
                <app-icon
                  class="text-slate-400 hover:text-slate-600"
                  [icon]="'delete_outline'"
                />
              </button>
            </div>
          </div>
        </div>

        } }
      </div>

      <div
        class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4 mt-5"
        [ngClass]="{
          'xl:grid-cols-4': !showCurrentExam,
          'xl:grid-cols-3': showCurrentExam
        }"
      >
        @for ( folder of documents; track $index) { @if (folder.type
        ===objectType.QUESTION ) {

        <div
          class="card bg-slate-200 shadow-xl cursor-pointer hover:bg-slate-300 hover:shadow-2xl transition"
        >
          <div class="card-body">
            <h3 class="break-words card-title no-select">
              {{ folder.name }}
            </h3>
          </div>
          <figure class="bg-slate-600">
            <div class="my-2">
              <button class="btn btn-sm btn-circle btn-ghost">
                <app-icon
                  class="text-slate-400 hover:text-white"
                  [icon]="'create'"
                />
              </button>
              <button class="btn btn-sm btn-circle btn-ghost">
                @if (questionSelected(folder)) {
                <app-icon
                  class="text-white"
                  [icon]="'playlist_add_check'"
                  (click)="removeQuestionCurrentExam(folder)"
                />
                }@else {
                <app-icon
                  class="text-slate-400 hover:text-white"
                  [icon]="'playlist_add'"
                  (click)="addQuestionCurrentExam(folder)"
                />
                }
              </button>
              <button
                (click)="deleteDocument(folder)"
                class="btn btn-sm btn-circle btn-ghost"
              >
                <app-icon
                  class="text-slate-400 hover:text-white"
                  [icon]="'delete_outline'"
                />
              </button>
            </div>
          </figure>
        </div>

        } }
      </div>
      }@else {
      <div class="flex items-center justify-center w-100">
        <span class="loading loading-ring loading-lg"></span>
      </div>
      }
    </div>
    <div class="divider divider-horizontal divider-start">
      <button
        (click)="showCurrentExam = !showCurrentExam"
        class="btn btn-ghost btn-sm text-gray-500"
      >
        @if(!showCurrentExam){
        <svg
          class="w-6 h-6"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          fill="none"
          viewBox="0 0 24 24"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="1"
            d="M16 16.881V7.119a1 1 0 0 0-1.636-.772l-5.927 4.881a1 1 0 0 0 0 1.544l5.927 4.88a1 1 0 0 0 1.636-.77Z"
          />
        </svg>
        <p style="text-orientation: mixed; writing-mode: vertical-rl">
          Examen en curso
        </p>
        }@else {
        <svg
          class="w-6 h-6"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          fill="none"
          viewBox="0 0 24 24"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="1"
            d="M8 16.881V7.119a1 1 0 0 1 1.636-.772l5.927 4.881a1 1 0 0 1 0 1.544l-5.927 4.88A1 1 0 0 1 8 16.882Z"
          />
        </svg>

        }
      </button>
    </div>

    <div
      class="transition-all"
      [ngClass]="{
        hidden: !showCurrentExam,
        'w-[100%] lg:w-[30%]': showCurrentExam,
        'w-[0%]': !showCurrentExam
      }"
    >
      <div class="flex text-center justify-between text-gray-600 mt-2">
        <div class="flex text-center">
          <div class="indicator">
            <span
              *ngIf="questionsSelected.length > 0"
              class="indicator-item indicator-end badge badge-secondary"
              >{{ questionsSelected.length }}</span
            >
            <app-icon class="mt-1" [icon]="'list'" />
            <h2 class="">Examen en curso</h2>
          </div>
        </div>
        <button
          [disabled]="questionsSelected.length < 1"
          (click)="showModalGenerateExam()"
          class="btn btn-sm btn-primary"
        >
          <span class="hidden xl:flex">Generar examen</span>
          <svg
            class="w-[23px] h-[23px]"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="none"
            viewBox="0 0 24 24"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="1.4"
              d="M5 17v-5h1.5a1.5 1.5 0 1 1 0 3H5m12 2v-5h2m-2 3h2M5 10V7.914a1 1 0 0 1 .293-.707l3.914-3.914A1 1 0 0 1 9.914 3H18a1 1 0 0 1 1 1v6M5 19v1a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-1M10 3v4a1 1 0 0 1-1 1H5m6 4v5h1.375A1.627 1.627 0 0 0 14 15.375v-1.75A1.627 1.627 0 0 0 12.375 12H11Z"
            />
          </svg>
        </button>
      </div>
      <question-list />
    </div>
  </div>
</div>
