<div
  class="card bg-slate-200 shadow-xl h-[100%] cursor-pointer hover:bg-slate-300 hover:shadow-2xl transition"
>
  <div class="card-body">
    <h3 class="break-words card-title no-select">
      {{ question.name }}
    </h3>
  </div>
  <figure class="bg-slate-600">
    <div class="my-2">
      <button (click)="copyQuestions()" class="btn btn-sm btn-circle btn-ghost">
        @if (questionCopied) {
        <app-icon class="text-slate-400 hover:text-white" [icon]="'check'" />
        }@else {
        <app-icon
          class="text-slate-400 hover:text-white"
          [icon]="'file_copy'"
        />
        }
      </button>
      <button
        (click)="editQuestionDialog()"
        class="btn btn-sm btn-circle btn-ghost"
      >
        <app-icon class="text-slate-400 hover:text-white" [icon]="'create'" />
      </button>
      <button class="btn btn-sm btn-circle btn-ghost">
        @if (questionSelected()) {
        <app-icon
          class="text-white"
          [icon]="'playlist_add_check'"
          (click)="removeQuestionCurrentExam()"
        />
        }@else {
        <app-icon
          class="text-slate-400 hover:text-white"
          [icon]="'playlist_add'"
          (click)="addQuestionCurrentExam()"
        />
        }
      </button>
      <button
        class="btn btn-sm btn-circle btn-ghost"
        [swal]="{
          title: '¿Desea eliminar esta pregunta?',
          showDenyButton: true,
          icon: 'question',
          confirmButtonText: 'Si',
          denyButtonText: 'No',
        }"
        (confirm)="deleteDocument()"
      >
        <app-icon
          class="text-slate-400 hover:text-white"
          [icon]="'delete_outline'"
        />
      </button>
    </div>
  </figure>
</div>
