<div class="navbar bg-slate-200 rounded-b-lg">
  <div class="flex-1">
    <a class="btn btn-ghost text-xl">examhub</a>
  </div>
  <div class="flex-none">
    <div class="dropdown dropdown-end">
      <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
        <div class="mask mask-hexagon w-20">
          <img alt="Tailwind CSS Navbar component" src="assets/logo.webp" />
        </div>
      </div>
      <ul
        tabindex="0"
        class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52"
      >
        <li><a (click)="logout()">Logout</a></li>
      </ul>
    </div>
  </div>
</div>
