<h2 mat-dialog-title class="text-xl font-bold mb-4">Configuración de examen</h2>
<mat-dialog-content class="mat-typography">
  <div>
    <form
      [formGroup]="examConfigForm"
      class="grid grid-cols-1 md:grid-cols-2 gap-4"
    >
      <div class="flex flex-col col-span-1 md:col-span-2">
        <label for="headerType" class="text-sm font-medium"
          >Tipo de encabezado</label
        >
        <mat-radio-group formControlName="headerType" class="mt-1">
          <mat-radio-button value="text">Texto</mat-radio-button>
          <mat-radio-button value="image">Imagen</mat-radio-button>
        </mat-radio-group>
      </div>

      <div
        class="flex flex-col"
        *ngIf="examConfigForm.value.headerType === 'text'"
      >
        <label for="institution" class="text-sm font-medium">Institución</label>
        <input
          id="institution"
          formControlName="institution"
          class="mt-1 p-2 border rounded-md"
        />
      </div>
      <div
        class="flex flex-col"
        *ngIf="examConfigForm.value.headerType === 'text'"
      >
        <label for="title" class="text-sm font-medium">Título</label>
        <input
          id="title"
          formControlName="title"
          class="mt-1 p-2 border rounded-md"
        />
      </div>
      <div
        class="flex flex-col"
        *ngIf="examConfigForm.value.headerType === 'text'"
      >
        <label for="place" class="text-sm font-medium">Lugar</label>
        <input
          id="place"
          formControlName="place"
          class="mt-1 p-2 border rounded-md"
        />
      </div>
      <div
        class="flex flex-col"
        *ngIf="examConfigForm.value.headerType === 'text'"
      >
        <label for="subtitle" class="text-sm font-medium">Subtítulo</label>
        <input
          id="subtitle"
          formControlName="subtitle"
          class="mt-1 p-2 border rounded-md"
        />
      </div>

      <div class="flex flex-col">
        <label for="date" class="text-sm font-medium">Fecha</label>
        <div class="flex flex-row items-center mt-1 w-full">
          <input
            id="date"
            [matDatepicker]="picker"
            formControlName="date"
            class="p-2 border rounded-md flex-grow"
          />
          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker"
            class="ml-2"
          ></mat-datepicker-toggle>
        </div>
        <mat-datepicker #picker></mat-datepicker>
      </div>

      <div class="flex flex-col">
        <label for="grade" class="text-sm font-medium">Grado</label>
        <input
          id="grade"
          formControlName="grade"
          class="mt-1 p-2 border rounded-md"
        />
      </div>

      <div class="flex flex-col col-span-1 md:col-span-2">
        <label for="logo" class="text-sm font-medium">{{
          examConfigForm.value.headerType === "text"
            ? "Logo del documento"
            : "Encabezado del documento"
        }}</label>
        <input
          type="file"
          id="logo"
          (change)="onFileChange($event)"
          accept="image/png, image/webp, image/jpeg, image/jpg"
          class="mt-1 p-2 border rounded-md"
        />
      </div>
    </form>
  </div>
  <div
    class="mt-4 flex flex-col lg:flex-row justify-between space-y-2 lg:space-y-0 lg:space-x-2"
  >
    <div class="flex flex-col md:flex-row md:justify-between md:items-center">
      <div class="join">
        <button
          class="btn no-animation btn-sm text-gray-500 hover:text-gray-700 join-item"
        >
          Pregunta por examen:
        </button>
        <input
          id="amountQuestions"
          [(ngModel)]="amountQuestions"
          type="number"
          min="1"
          max="{{ exam.length }}"
          class="join-item w-[100px] input-sm input input-bordered"
        />
      </div>
      <div class="join">
        <button
          class="btn no-animation btn-sm text-gray-500 hover:text-gray-700 join-item"
        >
          Examenes diferentes:
        </button>
        <input
          id="amount"
          [(ngModel)]="amount"
          type="number"
          min="1"
          class="join-item w-[100px] input-sm input input-bordered"
        />
      </div>
    </div>
    <div class="flex items-center space-x-2"></div>
    <div class="join">
      <button class="btn btn-sm join-item btn-primary" (click)="preview()">
        Vista previa
      </button>
      <button class="btn btn-sm join-item btn-secondary" (click)="generate()">
        Generar
      </button>
      <button class="btn btn-sm join-item btn-error" (click)="cancel()">
        Cancelar
      </button>
    </div>
  </div>
</mat-dialog-content>
