@tailwind base;

:root {
  --primary: rgb(221, 221, 221);
  --secondary: rgb(138, 138, 138);
}
* {
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) var(--primary);
  user-select: none;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 15px;

}

*::-webkit-scrollbar-track {
  background: var(--primary);
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 14px;
  border: 3px solid var(--primary);
}


@tailwind components;
@tailwind utilities;
@include mat.core();

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.mat-mdc-dialog-content{
  max-height: 80vh !important;
}
