<h2 mat-dialog-title class="text-xl font-bold mb-4">
  {{ editMode ? "Editar Carpeta" : "Crear Carpeta" }}
</h2>
<mat-dialog-content class="mat-typography">
  <div class="form-control w-full max-w-xs">
    <label class="label">
      <span class="label-text">Nombre de la Carpeta</span>
    </label>
    <input
      type="text"
      placeholder="Nombre de la carpeta"
      class="input input-bordered w-full max-w-xs"
      [(ngModel)]="folderName"
      name="folderName"
      #folderNameInput="ngModel"
      required
      minlength="4"
      maxlength="39"
    />
    <div *ngIf="folderNameInput.invalid && folderNameInput.touched" class="text-red-500">
      El nombre debe tener entre 4 y 39 caracteres.
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions class="mt-4 flex space-x-2">
  <button
    class="btn btn-sm btn-outline btn-error flex items-center"
    mat-button
    (click)="onNoClick()"
  >
    <app-icon [icon]="'cancel'" />
  </button>
  <button
    class="btn btn-sm btn-primary flex items-center"
    mat-button
    (click)="addFolder()"
    [disabled]="folderNameInput.invalid"
    cdkFocusInitial
  >
    <app-icon [icon]="'create'" />
    {{ editMode ? "Editar Carpeta" : "Crear Carpeta" }}
  </button>
</mat-dialog-actions>
